<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Book Name: {{ title }}</p>
    <p>Current Rating {{ rating }}</p>
    <form action="{{ url_for('change_rating',id=id)}}" name="books" method="POST">
        <input type="text" name="rating">
        <button type="submit">Change Rating</button>
    </form>
</body>
</html>